<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>sgID Demo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/assets/common.css" />
  </head>

  <body class="d-flex justify-content-center align-items-center p-4 background">
    <div class="container d-flex align-items-center">
      <img src="/assets/logo.png" class="logo" />
      <div class="w-100">
        <a
          class="btn btn-primary btn-lg btn-block"
          id="login-btn-prod"
          role="button"
          href="<%- authUrl.prod -%>"
        >
          Login with
          <img
            src="/assets/logo-white.png"
            class="d-inline-block login-environment-logo"
          />
          <br />
          <span class="font-weight-light">Production</span>
        </a>
        <a
          class="btn btn-warning btn-lg btn-block mt-4"
          id="login-btn-stag"
          href="<%- authUrl.stag -%>"
        >
          Login with
          <img
            src="/assets/logo.png"
            class="d-inline-block login-environment-logo"
          />
          <br />
          <span class="font-weight-light">Staging</span>
        </a>
        <a
          class="btn btn-success btn-lg btn-block mt-4 ph-2"
          id="login-btn-dev"
          href="<%- authUrl.dev -%>"
        >
          Login with
          <img
            src="/assets/logo-white.png"
            class="d-inline-block login-environment-logo"
          />
          <br />
          <span class="font-weight-light">Development</span>
        </a>
      </div>
    </div>
  </body>
</html>
