<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>sgID Demo App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <script src="main.js"></script> -->
</head>

<body>
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-4" style="text-align: center; margin-top: 300px">
        <a class="btn btn-primary" href="https://api.digital-ic.sg/oauth/authorize?response_type=code&purpose=For%20testing%20purposes&client_id=abc&scope=openid%20name%20sex%20race%20nationality&redirect_uri={{redirect_url}}/callback&nonce=test" role="button">Login with sgID</a>
      </div>
   </div>
  </div>
</body>

</html>